.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.items {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content {
  padding: 5px;
}
.date {
  font-size: 14px;
  color: #808080;
}
.btn {
  min-width: 35px;
  padding: 3px 0;
  background: #15c70c;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background: #fff;
  border: 1px solid #15c70c;
  color: #000;
}

@media screen and (max-width: 450px) {
  .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .date {
    font-size: 11px;
  }
}
