.me-auto a {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}
.navbar-brand {
  cursor: pointer;
}
.me-auto a:hover {
  text-decoration: underline;
}
.gallerySearch {
  text-align: center;
  margin: 80px 0 100px;
}
.gallerySearch span {
  position: relative;
}
.searchBtn {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  cursor: pointer;
}
.searchInput {
  width: 100%;
  max-width: 800px;
  padding: 10px 50px;
  border-radius: 30px;
  outline: none;
}
.galleryCard {
  text-align: center;
  padding: 20px 0;
}

.galleryCard img {
  border-radius: 30px;
  width: 80%;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.galleryCard img:hover {
  transform: translateY(-20px);
}
.galleryCard img:hover ~ h4 {
  border-bottom: 1px solid #000;
}

.galleryCard h4 {
  max-width: 245px;
  font-size: 20px;
  margin: 0 auto 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.3s;
}
.galleryDetail {
  overflow-x: hidden;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.video {
  width: 500px;
  min-width: 350px;
}
.desription {
  width: 500px;
  min-width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.x {
  font-size: 20px;
  cursor: pointer;
}
.desription h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}
.desription a {
  text-decoration: none;
  color: inherit;
}
.desription a:hover {
  text-decoration: underline;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
