.me-auto a {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}
.navbar-brand {
  cursor: pointer;
  color: #964b00;
}
.me-auto a:hover {
  text-decoration: underline;
}
.gallerySearch {
  text-align: center;
  margin: 80px 0 100px;
}
.gallerySearch span {
  position: relative;
}
.searchBtn {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  cursor: pointer;
}
.searchInput {
  width: 100%;
  max-width: 800px;
  padding: 10px 50px;
  border-radius: 30px;
  outline: none;
}
.galleryCard {
  text-align: center;
  padding: 20px 0;
}

.galleryCard img {
  border-radius: 30px;
  width: 80%;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.galleryCard img:hover {
  transform: translateY(-20px);
}
.galleryCard img:hover ~ h4 {
  text-decoration: underline;
}

.galleryCard h4 {
  max-width: 245px;
  font-size: 20px;
  margin: 0 auto 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.3s;
}
.galleryDetail {
  overflow-x: hidden;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.video {
  width: 500px;
  min-width: 350px;
}
.desription {
  width: 500px;
  min-width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.x {
  font-size: 20px;
  cursor: pointer;
}
.desription h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}
.desription a {
  text-decoration: none;
  color: inherit;
}
.desription a:hover {
  text-decoration: underline;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* diary */
.header {
  text-align: center;
  padding: 80px 0 30px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
}
.coomonBtn {
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 10px 20px;
  transition: all 0.3s;
}
.coomonBtn:hover {
  background: #fff;
  border: 3px solid #f0f0f0;
}

.diaryEditor {
  /* border: 1px solid #f00; */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.today input {
  border: none;
  border-radius: 10px;
  background: #f0f0f0;
  padding: 10px 15px;
  cursor: pointer;
}
.todayDiary textarea {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
}
.editorBottomBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editorBottomBtn button:last-child {
  background: #964b00;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.3s;
}
.editorBottomBtn button:last-child:hover {
  background: #fff;
  color: #964b00;
  border: 1px solid #964b00;
}
.diaryList {
  max-width: 800px;
  margin: 20px auto 30px;
  display: flex;
  flex-direction: column;
}
.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.listHeader select {
  width: 20%;
  padding: 15px 0;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  letter-spacing: -1px;
  text-align: center;
  background: #f0f0f0;
  cursor: pointer;
}
.createNew {
  display: inline-block;
  width: 80%;
  padding: 8px 0;
  text-align: center;
  border: 3px solid transparent;
  border-radius: 10px;
  background: #964b00;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.createNew:hover {
  border: 3px solid #964b00;
  background: #fff;
  color: #964b00;
}
